@import (reference) "~dyna-ui-styles/styles/ORANGE_WHITE";
@import (reference) "~dyna-ui-styles/colors/pantone-coated";

.dyna-ui-field-wrapper {
	outline: none;

	&.dyna-ui-field-wrapper {
		&--color- {
			&WHITE_BLACK {
				border-color: black;
				background-color: white;

				.dyna-ui-label {

				}
				.dyna-ui-field-wrapper-container {
					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
			}
			&GRAY_WHITE_BLACK {
				@background-color: #434343;
				@input-font-color: #2A2A2A;

				border-color: white;
				background-color: @input-font-color;

				.dyna-ui-label {
					border-color: white;
					background-color: @background-color;
					color: white;
				}
				.dyna-ui-field-wrapper-container {
					background-color: white;
					.dyna-ui-field-wrapper-control-container {
						color: @input-font-color;
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
				&.dyna-ui-field-wrapper--mode-VIEW {
					.dyna-ui-field-wrapper-container {
						background-color: @background-color;
						color: white;
						input {
							background-color: @background-color;
							color: white;
						}
					}
				}
			}
			&WHITE_RED {
				border-color: red;

				.dyna-ui-label {
					border-color: #ff5455;
					color: white;
					background-color: red;
				}
				.dyna-ui-field-wrapper-container {
					background-color: white;
					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
				&.dyna-ui-field-wrapper--mode-VIEW {
					.dyna-ui-field-wrapper-container {
						background-color: red;
						color: white;
						input {
							background-color: red;
							color: white;
						}
					}
				}
			}
			&BLACK_WHITE {
				border-color: black;

				.dyna-ui-label {
					border-color: gray;
					color: white;
					background-color: black;
				}
				.dyna-ui-field-wrapper-container {
					background-color: white;
					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
				&.dyna-ui-field-wrapper--mode-VIEW {
					.dyna-ui-field-wrapper-container {
						background-color: black;
						color: white;
						input {
							background-color: black;
							color: white;
						}
					}
				}
			}
			&TRANSPARENT_WHITE {
				border-color: white;

				.dyna-ui-label {
					color: white;
				}
				.dyna-ui-field-wrapper-container {
					.dyna-ui-field-wrapper-control-container {
						color: white;
						background-color: transparent;
						input {
							color: white;
							background-color: transparent;
						}
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
			}
			&ORANGE_WHITE {
				border-color: @color-ORANGE_WHITE-orange;

				.dyna-ui-label {
					border-color: @color-pc-1485-c;
					background-color: @color-ORANGE_WHITE-orange;
					color: white;
				}
				.dyna-ui-field-wrapper-container {
					background-color: white;

					.dyna-ui-field-wrapper-required {

					}

					.dyna-ui-field-wrapper-control-container {
						color: black;
					}

					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}

					.dyna-ui-field-wrapper-footer {
					}
				}
				&.dyna-ui-field-wrapper--mode-VIEW {
					.dyna-ui-field-wrapper-container {
						background-color: @color-ORANGE_WHITE-orange;
						color: white;
						input {
							background-color: @color-ORANGE_WHITE-orange;
							color: white;
						}
					}
				}
			}
		}
	}


	// animations
	@animation-duration: 250ms;

	transition: border-color @animation-duration ease-in-out, background-color @animation-duration ease-in-out;
	.dyna-ui-label {
		transition: color @animation-duration ease-in-out, background-color @animation-duration ease-in-out;
	}
	.dyna-ui-field-wrapper-container {
		transition: color @animation-duration ease-in-out, background-color @animation-duration ease-in-out;

		.dyna-ui-field-wrapper-control-container {
			transition: color @animation-duration ease-in-out, background-color @animation-duration ease-in-out;
			input {
				transition: color @animation-duration ease-in-out, background-color @animation-duration ease-in-out;
			}
		}

		.dyna-ui-field-wrapper-validation-message {
			transition: color @animation-duration ease-in-out, background-color @animation-duration ease-in-out;
		}

		.dyna-ui-field-wrapper-footer {
		}
	}

}
