.dyna-ui-field-wrapper {
	outline: none;

	&.dyna-ui-field-wrapper {

		&-color- {
			&WHITE_BLACK {
				border-color: black;
				background-color: white;

				.dyna-ui-label {

				}
				.dyna-ui-field-wrapper-container {
					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
			}
			&GRAY_WHITE_BLACK {
				@background-color: #434343;
				@input-font-color: #2A2A2A;

				border-color: @background-color;
				background-color: white;

				.dyna-ui-label {
					background-color: @background-color;
					color: white;
				}
				.dyna-ui-field-wrapper-container {
					.dyna-ui-field-wrapper-control-container {
						color: @input-font-color;
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
			}
			&WHITE_RED {
				border-color: red;

				.dyna-ui-label {
					color: white;
					background-color: red;
				}
				.dyna-ui-field-wrapper-container {
					background-color: white;
					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
			}
			&BLACK_WHITE {
				border-color: black;

				.dyna-ui-label {
					color: white;
					background-color: black;
				}
				.dyna-ui-field-wrapper-container {
					background-color: white;
					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
			}
			&TRANSPARENT_WHITE {
				border-color: white;

				.dyna-ui-label {
					color: white;
				}
				.dyna-ui-field-wrapper-container {
					.dyna-ui-field-wrapper-control-container {
						color: white;
						background-color: transparent;
					}
					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}
			}
			&ORANGE_WHITE {
				border-color: #eb8a0f;

				.dyna-ui-label {
					background-color: #eb8a0f;
					color: white;
				}
				.dyna-ui-field-wrapper-container {
					background-color: white;

					.dyna-ui-field-wrapper-required {

					}

					.dyna-ui-field-wrapper-control-container {
						color: black;
					}

					.dyna-ui-field-wrapper-validation-message {
						color: tomato;
					}

					.dyna-ui-field-wrapper-footer {
					}
				}
			}
		}
	}
}
