.dyna-ui-field-wrapper {
	@border-radius: 4px;

	outline: none;

	&.dyna-ui-field-wrapper {

		&--style- {

			&INLINE_ROUNDED {
				display: flex;
				border: 1px solid;
				border-radius: @border-radius;

				.dyna-ui-label {
					flex: 1 0 auto;
					border-right: 1px solid;
					line-height: 16px;
					border-radius: @border-radius 0 0 @border-radius;
				}

				.dyna-ui-field-wrapper-container {
					flex: 1 1 100%;
					position: relative;
					border-radius: 0 @border-radius @border-radius 0;

					.dyna-ui-field-wrapper-required {
						position: absolute;
						top: 4px;
						right: 16px;
					}

					.dyna-ui-field-wrapper-isLoading {
						position: absolute;
						bottom: 4px;
						right: 16px;
					}

					.dyna-ui-field-wrapper-control-container {
						width: 100%;
						> * {
							width: 100%;
						}
					}
					.dyna-ui-field-wrapper-validation-message {
						position: absolute;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}

			}

		}

		&--size- {
			&XSMALL,
			&SMALL {
				.dyna-ui-label {
					padding: 12px;
					font-size: 14px;
				}
				.dyna-ui-field-wrapper-container {
					padding: 8px;

					input{
						font-size: 14px;
					}

					.dyna-ui-field-wrapper-required {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-isLoading {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-control-container {
						position: relative;
						top: 3px;
					}
					.dyna-ui-field-wrapper-validation-message {
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
			&MEDIUM {
				.dyna-ui-label {
					padding: 16px;
					font-size: 14px;
				}

				.dyna-ui-field-wrapper-container {
					padding: 16px;

					input{
						font-size: 14px;
					}

					.dyna-ui-field-wrapper-required {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-isLoading {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
			&LARGE {
				.dyna-ui-label {
					padding: 24px;
					font-size: 20px;
				}
				.dyna-ui-field-wrapper-container {
					padding: 24px;

					input{
						font-size: 20px;
					}

					.dyna-ui-field-wrapper-required {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-isLoading {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-control-container {
					}
					.dyna-ui-field-wrapper-validation-message {
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
		}

		&--mode-VIEW {
			.dyna-ui-field-wrapper-container {
				input {
					cursor: default;
				}
			}
		}

		&--mode-EDIT {
			cursor: pointer;
			.dyna-ui-label {
				label {
					cursor: pointer;
				}
			}
		}

	}
}
