.dyna-ui-field-wrapper {
	@border-radius: 4px;

	outline: none;

	&.dyna-ui-field-wrapper {

		// commom
		.dyna-ui-label {
			label {
				margin: 0; // bootstrap clean up
			}
		}

		.dyna-ui-field-wrapper-container {
			.dyna-ui-field-wrapper-required {
				opacity: 1;
				transition: opacity 250ms ease-in-out;
			}
			.dyna-ui-field-wrapper-isLoading {
				opacity: 1;
				transition: opacity 250ms ease-in-out;
			}
			.dyna-ui-field-wrapper-control-container {
				input, select{
					font-size: inherit;
				}
			}
			.dyna-ui-field-wrapper-validation-message {
				opacity: 1;
				transition: opacity 250ms ease-in-out;
			}
			.dyna-ui-field-wrapper-footer {
			}
		}


		&--style- {

			&INLINE_ROUNDED {
				display: flex;
				border: 1px solid;
				border-radius: @border-radius;
				overflow: hidden;

				.dyna-ui-label {
					flex: 1 0 auto;
					border-right: 1px solid;
				}

				.dyna-ui-field-wrapper-container {
					flex: 1 1 100%;
					position: relative;

					.dyna-ui-field-wrapper-required {
						position: absolute;
						top: 4px;
						right: 16px;
					}

					.dyna-ui-field-wrapper-isLoading {
						position: absolute;
						bottom: 4px;
						right: 16px;
					}

					.dyna-ui-field-wrapper-control-container {
						width: 100%;
						> * {
							width: 100%;
						}
					}
					.dyna-ui-field-wrapper-validation-message {
						position: absolute;
					}
					.dyna-ui-field-wrapper-footer {
					}
				}

			}

		}

		&--size- {
			&XSMALL,
			&SMALL {
				.dyna-ui-label {
					padding: 12px;
					font-size: 14px;
				}
				.dyna-ui-field-wrapper-container {
					padding: 8px 12px;

					.dyna-ui-field-wrapper-required {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-isLoading {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-control-container {
						position: relative;
						top: 3px;
						font-size: 14px;
					}
					.dyna-ui-field-wrapper-validation-message {
						font-size: 12px;
					}
				}
			}
			&MEDIUM {
				.dyna-ui-label {
					padding: 16px;
					font-size: 14px;
				}

				.dyna-ui-field-wrapper-container {
					padding: 16px;

					.dyna-ui-field-wrapper-required {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-isLoading {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-control-container {
						font-size: 14px;
					}

					.dyna-ui-field-wrapper-validation-message {
						font-size: 12px;
					}
				}
			}
			&LARGE {
				.dyna-ui-label {
					padding: 24px;
					font-size: 20px;
				}
				.dyna-ui-field-wrapper-container {
					padding: 24px;

					.dyna-ui-field-wrapper-required {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-isLoading {
						font-size: 11px;
					}

					.dyna-ui-field-wrapper-control-container {
						font-size: 20px;
					}

					.dyna-ui-field-wrapper-validation-message {
						font-size: 12px;
					}
				}
			}
		}

		&--mode-VIEW {
			.dyna-ui-field-wrapper-container {
				.dyna-ui-field-wrapper-required,
				.dyna-ui-field-wrapper-isLoading,
				.dyna-ui-field-wrapper-validation-message {
					opacity: 0.01;
				}
				.dyna-ui-field-wrapper-control-container {
					cursor: default;
				}
			}
		}

		&--mode-EDIT {
			cursor: pointer;
			.dyna-ui-label {
				label {
					cursor: pointer;
				}
			}
		}

	}
}
